# All Game js and css
games/**/*.js linguist-detectable=false
games/**/*.css linguist-detectable=false

# All Videos js and css
videos/**/*.js linguist-detectable=false
videos/**/*.css linguist-detectable=false

# File Ext
*.swf linguist-detectable=false
*.bat linguist-detectable=false
*.vbs linguist-detectable=false
*.xml linguist-detectable=false
*.svg linguist-detectable=false
*.json linguist-detectable=false
*.txt linguist-detectable=false
*.md linguist-detectable=false

# Dependencies Dir
bootstrap/** linguist-detectable=false
ruffle/** linguist-detectable=false
dosbox/** linguist-detectable=false

# Certain File Names
game.html linguist-detectable=false
iframe.html linguist-detectable=false
test.html linguist-detectable=false

# Misc
games/thereisnogame/repo/alternate/871000/** linguist-detectable=false
