*.swf linguist-detectable=false
*.bat linguist-detectable=false
*.vbs linguist-detectable=false
*.xml linguist-detectable=false
*.svg linguist-detectable=false
*.json linguist-detectable=false
*.txt linguist-detectable=false
*.md linguist-detectable=false
bootstrap/** linguist-detectable=false
ruffle/** linguist-detectable=false
dosbox/** linguist-detectable=false
games/solitude/jqueryui/** linguist-detectable=false
games/2048/style/** linguist-detectable=false
games/2048/js/** linguist-detectable=false
game.html linguist-detectable=false
