#Create a custom page for all 404 errors
ErrorDocument 404 /404.html

# Block includes if they have a .php extension. Change
# that to match whatever extension you use for your includes.
<Files *.phpss>
Order Deny,Allow
Deny from All
</Files>

# Block access to .txt files
<Files *.txt>
Order Deny,Allow
Deny from All
</Files>

<Files *.backup>
Order Deny,Allow
Deny from All
</Files>

# Create a custom page for all 403 errors
ErrorDocument 403 /403.html


#Remove file ext
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
