@import url("bootstrap/bootstrap.min.css") !important;

body {
	font-family: roboto;
	word-spacing: 2px;
}

footer {
  text-align: center;
  background-color: #2e3131;
  color: #eeeeee;
}

h1 {
  text-align: center;
}

.logo {
  float: left;
}

img {
  display: inline-block;
}

email_footer {
  text-decoration : none;
  color: #eeeeee;
}

pre {
  text-align: left;
}

footer{
    height: 190px;
}

.dir{
	text-align: left;
	padding-left: 10px;
}
