@import url("bootstrap/bootstrap.css");
body {
    font-family: roboto;
    word-spacing: 2px;
    margin-left: 50px !important;
    text-align: center;
    overflow-wrap: break-word;
}

footer {
    text-align: center;
    background-color: #2e3131;
    color: #eeeeee;
    height: 250px;
    margin-left: -50px !important;
    margin-bottom: -50px !important;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.logo {
    float: left;
}

img {
    display: inline-block;
}

pre {
    text-align: left;
}

hr {
    margin-right: 50px !important;
}

.header {
    margin-top: 25px;
}

.header a:visited,
.header a:active,
.header a {
    color: black;
}

.header a:hover {
    color: #2d3436;
}

ul {
    text-align: left;
}

a,
a:visited,
a:active {
    color: #0984e3;
}

a:hover {
    color: #74b9ff;
}

#gameFinder {
    background-image: url('searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.search-container {
    margin-right: 50px;
}

.dosbox_iframe {
    display: block;
    border: 0 none;
    background: transparent;
    margin: 0 auto;
}

.ver {
    text-align: left !important;
}

.ver a {
    color: inherit;
}

.material-icons {
    font-size: 10px !important;
}